<!--************************************
        Header End
*************************************-->
<!--************************************
        Home Slider Start
*************************************-->
<div class="tg-bannerholder" xmlns="" xmlns="" xmlns="">
    <ul class="tg-socialicons tg-bannersocialicons">
        <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
    </ul>
    <a class="tg-btnscroll tg-floating tg-btnsectionscroll" href="javascript:void(0);">
        <img src="../../assets/images/btn-scroll.png" alt="image description">
        <span>Plus de détails</span>
        <i class="fa fa-angle-double-down"></i>
    </a>
    <div  id="tg-homeslider" class="tg-homeslider tg-haslayout owl-carousel">
        <figure class="item tg-bannerimg" data-vide-bg="poster: ../../assets/images/slider/img-01.jpg"
                data-vide-options="position: 0% 50%">
            <figcaption>
                <div class="container">
                    <div class="tg-slidercontent">
                        <h1>Slider 1</h1>
                    </div>
                </div>
            </figcaption>
        </figure>
        <figure class="item tg-bannerimg" data-vide-bg="poster: ../../assets/images/slider/img-02.jpg"
                data-vide-options="position: 0% 50%">
            <figcaption>
                <div class="container">
                    <div class="tg-slidercontent">
                        <h1>Slider 2</h1>
                    </div>
                </div>
            </figcaption>
        </figure>
        <figure class="item tg-bannerimg" data-vide-bg="poster: ../../assets/images/slider/img-03.jpg"
                data-vide-options="position: 0% 50%">
            <figcaption>
                <div class="container">
                    <div class="tg-slidercontent">

                        <h1>Slider 3</h1>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">

    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-shortcode tg-venueshortcode">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="tg-shortcodetext">
                            <div class="tg-sectionhead tg-textalignleft">
                                <div class="tg-sectionheading">
                                    <h3>Derniers évènements organisés</h3>
                                </div>
                                <div class="tg-description">
                                    <p>La on pourra mettre un peu de blabla par exemple ou pas ^^ </p>
                                </div>
                            </div>
                            <div class="tg-btnarea">
                                <a class="tg-btn" href="#">Tous voir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-themepost tg-venue">
                            <figure>
                                <img src="../../assets/images/venues/img-01.jpg" alt="image description">
                            </figure>
                            <div class="tg-posttitle">
                                <h3><a href="">Salon International de l'Agriculture</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-themepost tg-venue">
                            <figure>
                                <img src="../../assets/images/venues/img-02.jpg" alt="image description">
                            </figure>
                            <div class="tg-posttitle">
                                <h3><a href="">Salon International du cheat</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-themepost tg-venue">
                            <figure>
                                <img src="../../assets/images/venues/img-03.jpg" alt="image description">
                            </figure>
                            <div class="tg-posttitle">
                                <h3><a href="">Salon International de la chèvre</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-themepost tg-venue">
                            <figure>
                                <img src="../../assets/images/venues/img-04.jpg" alt="image description">
                            </figure>
                            <div class="tg-posttitle">
                                <h3><a href="">Salon du camion</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-themepost tg-venue">
                            <figure>
                                <img src="../../assets/images/venues/img-05.jpg" alt="image description">
                            </figure>
                            <div class="tg-posttitle">
                                <h3><a href="">Salon de l'aviation</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="tg-themepost tg-venue">
                            <figure>
                                <img src="../../assets/images/venues/img-06.jpg" alt="image description">
                            </figure>
                            <div class="tg-posttitle">
                                <h3><a href="">Salon de l'étudiant</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tg-haslayout tg-bgparallax tg-bgcounter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="tg-statisticscounters" class="tg-statisticscounters">
                        <div class="tg-counterholder">
                            <div class="tg-counter">
                                <h2><span data-from="0" data-to="140" data-speed="2000"
                                          data-refresh-interval="50">140</span></h2>
                                <h3>Clients</h3>
                                <span class="tg-statisticicon icon-user"></span>
                            </div>
                        </div>
                        <div class="tg-counterholder">
                            <div class="tg-counter">
                                <h2><span data-from="0" data-to="07" data-speed="2000"
                                          data-refresh-interval="50">07</span>
                                </h2>
                                <h3>Evènements organisés</h3>
                                <span class="tg-statisticicon icon-calendar-full"></span>
                            </div>
                        </div>
                        <div class="tg-counterholder">
                            <div class="tg-counter">
                                <h2><span data-from="0" data-to="20" data-speed="2000"
                                          data-refresh-interval="50">20</span>
                                </h2>
                                <h3>Prestataires</h3>
                                <span class="tg-statisticicon icon-briefcase"></span>
                            </div>
                        </div>
                        <div class="tg-counterholder">
                            <div class="tg-counter">
                                <h2><span data-from="0" data-to="395" data-speed="2000"
                                          data-refresh-interval="50">395</span></h2>
                                <h3>J'aime</h3>
                                <span class="tg-statisticicon fa fa-heart"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="tg-sectionspace tg-haslayout">
        <app-calendar></app-calendar>
    </section>

</main>
