<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-sectionspace tg-haslayout tg-bgparallax tg-bgtwitter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-xs-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="tg-sectionhead tg-colorwhite">
                        <div class="tg-sectionheading">
                            <h3>Références</h3>
                        </div>
                    </div>
                    <div id="carousel-reference">
                        <img _ngcontent-c2="" alt="image description" src="../../assets/images/venues/img-04.jpg">
                        <img _ngcontent-c2="" alt="image description" src="../../assets/images/venues/img-04.jpg">
                        <img _ngcontent-c2="" alt="image description" src="../../assets/images/venues/img-04.jpg">
                        <img _ngcontent-c2="" alt="image description" src="../../assets/images/venues/img-04.jpg">
                        <img _ngcontent-c2="" alt="image description" src="../../assets/images/venues/img-04.jpg">
                        <img _ngcontent-c2="" alt="image description" src="../../assets/images/venues/img-04.jpg">
                        <img _ngcontent-c2="" alt="image description" src="../../assets/images/venues/img-04.jpg">
                        <img _ngcontent-c2="" alt="image description" src="../../assets/images/venues/img-04.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-foorterbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="tg-copyrights">2018 All Rights Reserved © lolo-website</p>
                    <ul class="tg-socialicons">
                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                        <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                    <strong class="tg-logo"><a href="index.html"><img src="../../assets/images/logo.png" alt="company logo here"></a></strong>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--************************************
        Footer End
*************************************-->