<<div class="tg-innerbanner tg-haslayout tg-bgparallax">
  <div class="container">
    <div class="tg-innerbannercontent">
      <div class="tg-pagetitle">
        <h1>Services / Prestations</h1>
      </div>
      <ol class="tg-breadcrumb">
        <li><a href="#">Accueil</a></li>
        <li class="tg-active">service / prestation</li>
      </ol>
    </div>
  </div>
</div>
<!--************************************
        Inner Baner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
  <!--************************************
          About Us Start
  *************************************-->
  <section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-shortcode tg-aboutusshortcode">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left">
            <div class="tg-shortcodetext">
              <div class="tg-sectionhead tg-textalignleft">
                <div class="tg-sectionheading">
                  <h3>Qui sommes-nous ?</h3>
                </div>
                <div class="tg-description">
                  <p> La tu pourras décrire se que tu fais avec la petite photo à coté qui fais plaisir</p>
                </div>
              </div>
              <div class="tg-btnarea">
                <a class="tg-btn" href="#">Voir évèhements</a>
                <a class="tg-btn" href="#">Me contacter</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
            <figure class="tg-shortcodeimg tg-shadow">
              <img src="../../assets/images/img-01.jpg" alt="image description">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>