<div class="tg-innerbanner tg-haslayout tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>Livre d'or</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li class="tg-active">Livre d'or</li>
            </ol>
        </div>
    </div>
</div>
<!--************************************
        Inner Baner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Contact Us Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container space-top-comment">
            <form class="tg-formtheme tg-formcontactus">
                <fieldset>
                    <div class="form-group">
                        <input type="text" name="firstname" class="form-control" placeholder="Nom*">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Selectionner ...</option>
                            <option>Recommandé</option>
                            <option>Moyennement satisfait</option>
                            <option>Mauvaise expérience</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Société*">
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Commentaire"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="tg-btn" type="submit">Envoyer</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="tg-contactus">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-event">
                            <div class="tg-eventspeaker">
                                <div class="tg-contentbox">
                                    <div class="tg-eventhead">
                                        <div class="tg-leftarea">
                                            <time datetime="2017-12-12">19/04/2018</time>
                                            <div class="tg-title">
                                                <h2>Un travaille bien fait ! </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tg-description">
                                        <p> blablabla le commentaire de la personne</p>
                                    </div>
                                    <div class="tg-speakername">
                                        <h2>NOM Prénom</h2>
                                        <span class="tg-eventcatagory">Société</span>
                                        <button class="btn btn-success pull-right">Recommander</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tg-event">
                            <div class="tg-eventspeaker">
                                <div class="tg-contentbox">
                                    <div class="tg-eventhead">
                                        <div class="tg-leftarea">
                                            <time datetime="2017-12-12">14/03/2017</time>
                                            <div class="tg-title">
                                                <h2>Des choses à revoir ! </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tg-description">
                                        <p> blablabla le commentaire de la personne</p>
                                    </div>
                                    <div class="tg-speakername">
                                        <h2>NOM Prénom</h2>
                                        <span class="tg-eventcatagory">Société</span>
                                        <button class="btn btn-warning pull-right"> Moyennement satisfait</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tg-event">
                            <div class="tg-eventspeaker">
                                <div class="tg-contentbox">
                                    <div class="tg-eventhead">
                                        <div class="tg-leftarea">
                                            <time datetime="2017-12-12">19/04/2018</time>
                                            <div class="tg-title">
                                                <h2> Deception total :( </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tg-description">
                                        <p> blablabla le commentaire de la personne</p>
                                    </div>
                                    <div class="tg-speakername">
                                        <h2>NOM Prénom</h2>
                                        <span class="tg-eventcatagory">Société</span>
                                        <button class="btn btn-danger pull-right"> Mauvaise expérience</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--************************************
            Contact Us End
    *************************************-->
</main>

