<div class="tg-innerbanner tg-haslayout tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>Contact</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li class="tg-active">Contact</li>
            </ol>
        </div>
    </div>
</div>
<!--************************************
        Inner Baner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Contact Us Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-contactus">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-title">
                            <h2>Me contacter</h2>
                        </div>
                        <form class="tg-formtheme tg-formcontactus">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="firstname" class="form-control" placeholder="Nom*">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" class="form-control" placeholder="Téléphone*">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Société*">
                                </div>
                                <div class="form-group">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="tg-btn" type="submit">Envoyer</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!--<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">-->
                        <!--<div class="tg-title">-->
                            <!--<h2>Dé</h2>-->
                        <!--</div>-->
                        <!--<div class="tg-description">-->
                            <!--<p>Consectetur adipisicing elit sed diiotate eiusmod tempor incididunt utnai labore.</p>-->
                        <!--</div>-->
                        <!--<ul class="tg-address">-->
                            <!--<li><span>Address :</span>-->
                                <!--<address>795 South Park Avenue, Door 6 Wonder- land, CA 94107, Australia</address>-->
                            <!--</li>-->
                            <!--<li><span>Phone :</span><span><em>+440 875369208 - Office</em><em>+440 353363114 - Fax</em></span>-->
                            <!--</li>-->
                            <!--<li><span>Email :</span><span><a href="#">support@sitename.com</a><a href="#">info@sitename.com</a></span>-->
                            <!--</li>-->
                            <!--<li><span>Follow :</span>-->
                                <!--<ul class="tg-socialicons">-->
                                    <!--<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>-->
                                    <!--</li>-->
                                    <!--<li class="tg-twitter"><a href="javascript:void(0);"><i-->
                                            <!--class="fa fa-twitter"></i></a></li>-->
                                    <!--<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>-->
                                    <!--</li>-->
                                    <!--<li class="tg-googleplus"><a href="javascript:void(0);"><i-->
                                            <!--class="fa fa-google-plus"></i></a></li>-->
                                    <!--<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Contact Us End
    *************************************-->
</main>

