<div class="container">
    <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="tg-sectionhead">
                <div class="tg-sectionheading">
                    <h3>Evènement à venir</h3>
                </div>
                <div class="tg-description">
                    <p>On peut mettre du blabla ici si tu veux</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tg-eventscheduletabs">
                <ul class="tg-eventschedulenav" role="tablist">
                    <li role="presentation" class="active"><a href="#day-one" aria-controls="day-one" role="tab"
                                                              data-toggle="tab">Salon de l'agriculture
                        <span>27 Janvier 2017</span></a>
                    </li>
                    <li role="presentation"><a href="#day-two" aria-controls="day-two" role="tab" data-toggle="tab">Salon de l'agriculture<span>28 Janvier 2019</span></a></li>
                    <li role="presentation"><a href="#day-three" aria-controls="day-three" role="tab" data-toggle="tab">Gay pride<span>25 fevrier 2020</span></a></li>
                    <li role="presentation"><a href="#day-four" aria-controls="day-four" role="tab" data-toggle="tab">Salon du bourget<span>10 joint 2020</span></a></li>
                </ul>
                <div class="tg-eventschedulecontent tab-content">
                    <a class="tg-btndownloadschedule" href="#">Télécharger planning <i
                            class="fa fa-file-pdf-o"></i></a>
                    <div role="tabpanel" class="tab-pane active" id="day-one">
                        <div class="tg-eventschaduletime">
                            <h2>Jour 1</h2>
                            <h2>Salon de l'agriculture</h2>
                            <h3>09h00 - 12h00</h3>
                        </div>
                        <div class="tg-eventvenuetabs">
                            <ul class="tg-eventvenuenav" role="tablist">
                                <li role="presentation" class="active"><a href="#">Matin</a>
                                </li>
                                <li role="presentation"><a href="#">Midi</a></li>
                                <li role="presentation"><a href="#">Après-midi</a></li>
                                <li role="presentation"><a href="#">Soir</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tg-event">
                        <div class="tg-eventspeaker">
                            <figure class="tg-eventspeakerimg tg-themeimgborder">
                                <img src="../../assets/images/speakers/img-07.jpg" alt="image description">
                            </figure>
                            <div class="tg-contentbox">
                                <div class="tg-eventhead">
                                    <div class="tg-leftarea">
                                        <time datetime="2017-12-12">09h30 - 12h00 </time>
                                        <div class="tg-title">
                                            <h2>Pot de bienvenue</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt
                                        labore dolore magna aliqua enim ad minim veniam quis nostrud
                                        exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute
                                        irure dolor.</p>
                                </div>
                                <div class="tg-speakername">
                                    <h2>Organisateur :</h2>
                                    <span class="tg-eventcatagory">Laure et Aurélien</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>